<div class="flex justify-center items-center h-screen text-2xl applyBody">
  <div class="card w-2/3 bg-neutral text-neutral-content px-3">
    <div class="card-body">
      <div class="flex justify-center items-center p-3">
        <h2 class="card-title text-3xl">Apply as a Screenwriter!</h2>
      </div>
      <p>
        Create your own polls and let your audience vote on them! Here on
        PlotPoll, screenwriters earn 70% of the proceeds of a poll. All you need
        is to verify your account. A team member will reach out through email
        and we'll ask you to provide appropriate documentation to confirm your
        identity. Send us an email at
      </p>
      <a href="mailto:plotPoll&#64;protonmail.com" class="link"
        >plotPoll&#64;protonmail.com</a
      >
    </div>
  </div>
</div>
