<div class="navbar bg-base-200 h-14 top-0 w-full">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">PlotPoll</a>
  </div>
  <div class="">
    <ul class="menu menu-horizontal px-1 flex items-center">
      <li>
        <div
          class="tooltip tooltip-left"
          tabindex="0"
          role="button"
          data-tip="Connect to a web3 wallet to vote on story outcomes."
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
      </li>
      <li *ngIf="!isWriter" (click)="router.navigate(['apply'])">
        <a>Apply as writer</a>
      </li>
      <li *ngIf="isWriter" (click)="router.navigate(['poll/create'])">
        <a>Create Poll</a>
      </li>
      <li *ngIf="canAddWriter" (click)="router.navigate(['add-writer'])">
        <a>Add Writer</a>
      </li>
    </ul>
  </div>
</div>
